<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.CollectionMapper">
  <resultMap id="BaseResultMap" type="com.qf.entity.Collection">
    <id column="c_id" jdbcType="BIGINT" property="cId" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="t_id" jdbcType="BIGINT" property="tId" />
    <result column="u_id" jdbcType="BIGINT" property="uId" />
    <result column="c_time" jdbcType="DATE" property="cTime" />
  </resultMap>



  <sql id="Base_Column_List">
    c_id, id, t_id, u_id, c_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from collection
    where c_id = #{cId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from collection
    where c_id = #{cId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qf.entity.Collection">
    insert into collection (c_id, id, t_id, u_id, 
      c_time)
    values (#{cId,jdbcType=BIGINT}, #{id,jdbcType=INTEGER}, #{tId,jdbcType=BIGINT}, #{uId,jdbcType=BIGINT}, 
      #{cTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.entity.Collection">
    insert into collection
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        c_id,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="tId != null">
        t_id,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="cTime != null">
        c_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        #{cId,jdbcType=BIGINT},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tId != null">
        #{tId,jdbcType=BIGINT},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=BIGINT},
      </if>
      <if test="cTime != null">
        #{cTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.entity.Collection">
    update collection
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="tId != null">
        t_id = #{tId,jdbcType=BIGINT},
      </if>
      <if test="uId != null">
        u_id = #{uId,jdbcType=BIGINT},
      </if>
      <if test="cTime != null">
        c_time = #{cTime,jdbcType=DATE},
      </if>
    </set>
    where c_id = #{cId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.entity.Collection">
    update collection
    set id = #{id,jdbcType=INTEGER},
      t_id = #{tId,jdbcType=BIGINT},
      u_id = #{uId,jdbcType=BIGINT},
      c_time = #{cTime,jdbcType=DATE}
    where c_id = #{cId,jdbcType=BIGINT}
  </update>
  <insert id="addCollection">
    insert into collection VALUES (null,#{id},#{tId},#{uId},#{cTime})
  </insert>
</mapper>