<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.QueryMapper">
  <resultMap id="BaseResultMap" type="com.qf.entity.Query">
    <id column="q_id" jdbcType="BIGINT" property="qId" />
    <result column="record" jdbcType="VARCHAR" property="record" />
    <result column="q_type" jdbcType="VARCHAR" property="qType" />
    <result column="u_id" jdbcType="BIGINT" property="uId" />
  </resultMap>
  <sql id="Base_Column_List">
    q_id, record, q_type, u_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from query
    where q_id = #{qId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from query
    where q_id = #{qId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qf.entity.Query">
    insert into query (q_id, record, q_type, 
      u_id)
    values (#{qId,jdbcType=BIGINT}, #{record,jdbcType=VARCHAR}, #{qType,jdbcType=VARCHAR}, 
      #{uId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.entity.Query">
    insert into query
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="qId != null">
        q_id,
      </if>
      <if test="record != null">
        record,
      </if>
      <if test="qType != null">
        q_type,
      </if>
      <if test="uId != null">
        u_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="qId != null">
        #{qId,jdbcType=BIGINT},
      </if>
      <if test="record != null">
        #{record,jdbcType=VARCHAR},
      </if>
      <if test="qType != null">
        #{qType,jdbcType=VARCHAR},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.entity.Query">
    update query
    <set>
      <if test="record != null">
        record = #{record,jdbcType=VARCHAR},
      </if>
      <if test="qType != null">
        q_type = #{qType,jdbcType=VARCHAR},
      </if>
      <if test="uId != null">
        u_id = #{uId,jdbcType=BIGINT},
      </if>
    </set>
    where q_id = #{qId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.entity.Query">
    update query
    set record = #{record,jdbcType=VARCHAR},
      q_type = #{qType,jdbcType=VARCHAR},
      u_id = #{uId,jdbcType=BIGINT}
    where q_id = #{qId,jdbcType=BIGINT}
  </update>
</mapper>