<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.RecordMapper">
  <resultMap id="BaseResultMap" type="com.qf.entity.Record">
    <id column="t_id" jdbcType="BIGINT" property="tId" />
    <result column="u_id" jdbcType="BIGINT" property="uId" />
    <result column="r_time" jdbcType="DATE" property="rTime" />
  </resultMap>
  <sql id="Base_Column_List">
    t_id, u_id, r_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record
    where t_id = #{tId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from record
    where t_id = #{tId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qf.entity.Record">
    insert into record (t_id, u_id, r_time)
    values (#{tId,jdbcType=BIGINT}, #{uId,jdbcType=BIGINT}, #{rTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.entity.Record">
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tId != null">
        t_id,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="rTime != null">
        r_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tId != null">
        #{tId,jdbcType=BIGINT},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=BIGINT},
      </if>
      <if test="rTime != null">
        #{rTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.entity.Record">
    update record
    <set>
      <if test="uId != null">
        u_id = #{uId,jdbcType=BIGINT},
      </if>
      <if test="rTime != null">
        r_time = #{rTime,jdbcType=DATE},
      </if>
    </set>
    where t_id = #{tId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.entity.Record">
    update record
    set u_id = #{uId,jdbcType=BIGINT},
      r_time = #{rTime,jdbcType=DATE}
    where t_id = #{tId,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.qf.entity.Record">
    <id column="t_id" jdbcType="BIGINT" property="tId" />
    <result column="u_id" jdbcType="BIGINT" property="uId" />
    <result column="r_time" jdbcType="DATE" property="rTime" />
  </resultMap>
  <sql id="Base_Column_List">
    t_id, u_id, r_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record
    where t_id = #{tId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from record
    where t_id = #{tId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qf.entity.Record">
    insert into record (t_id, u_id, r_time)
    values (#{tId,jdbcType=BIGINT}, #{uId,jdbcType=BIGINT}, #{rTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.entity.Record">
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tId != null">
        t_id,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="rTime != null">
        r_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tId != null">
        #{tId,jdbcType=BIGINT},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=BIGINT},
      </if>
      <if test="rTime != null">
        #{rTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.entity.Record">
    update record
    <set>
      <if test="uId != null">
        u_id = #{uId,jdbcType=BIGINT},
      </if>
      <if test="rTime != null">
        r_time = #{rTime,jdbcType=DATE},
      </if>
    </set>
    where t_id = #{tId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.entity.Record">
    update record
    set u_id = #{uId,jdbcType=BIGINT},
      r_time = #{rTime,jdbcType=DATE}
    where t_id = #{tId,jdbcType=BIGINT}
  </update>
</mapper>