<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.ReplyblogMapper">
  <resultMap id="BaseResultMap" type="com.qf.entity.Replyblog">
    <id column="r_id" jdbcType="BIGINT" property="rId" />
    <result column="blog_id" jdbcType="BIGINT" property="blogId" />
    <result column="u_id" jdbcType="BIGINT" property="uId" />
    <result column="like" jdbcType="BIGINT" property="like" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="r_time" jdbcType="DATE" property="rTime" />
  </resultMap>
  <sql id="Base_Column_List">
    r_id, blog_id, u_id, like, content, r_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from replyblog
    where r_id = #{rId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from replyblog
    where r_id = #{rId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qf.entity.Replyblog">
    insert into replyblog (r_id, blog_id, u_id, 
      like, content, r_time)
    values (#{rId,jdbcType=BIGINT}, #{blogId,jdbcType=BIGINT}, #{uId,jdbcType=BIGINT}, 
      #{like,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{rTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.entity.Replyblog">
    insert into replyblog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rId != null">
        r_id,
      </if>
      <if test="blogId != null">
        blog_id,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="like != null">
        like,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="rTime != null">
        r_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rId != null">
        #{rId,jdbcType=BIGINT},
      </if>
      <if test="blogId != null">
        #{blogId,jdbcType=BIGINT},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=BIGINT},
      </if>
      <if test="like != null">
        #{like,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="rTime != null">
        #{rTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.entity.Replyblog">
    update replyblog
    <set>
      <if test="blogId != null">
        blog_id = #{blogId,jdbcType=BIGINT},
      </if>
      <if test="uId != null">
        u_id = #{uId,jdbcType=BIGINT},
      </if>
      <if test="like != null">
        like = #{like,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="rTime != null">
        r_time = #{rTime,jdbcType=DATE},
      </if>
    </set>
    where r_id = #{rId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.entity.Replyblog">
    update replyblog
    set blog_id = #{blogId,jdbcType=BIGINT},
      u_id = #{uId,jdbcType=BIGINT},
      like = #{like,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      r_time = #{rTime,jdbcType=DATE}
    where r_id = #{rId,jdbcType=BIGINT}
  </update>
</mapper>